PROJECT_DIR=/home/judamo/Projects/Big-Data/Lab-3/medgemma-model
DATASET_DIR=/home/judamo/Projects/Big-Data/Lab-3/medgemma-model/images_001
OUTPUT_DIR=/home/judamo/Projects/Big-Data/Lab-3/medgemma-model/outputs

# Opcional: hf auth login evita guardar este token en el archivo.
HF_TOKEN=

# Solo se requiere para la sintesis de voz.
GEMINI_API_KEY=TU_CLAVE_AQUI
GEMINI_TTS_MODEL=gemini-2.5-flash-preview-tts
